<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="/" class="link" style="color:white">Dashboard</a>
      </li>
      <li>
        <a routerLink="/settings" class="link" style="color:white">Einstellungen</a>
      </li>
      <li>
        <a routerLink="/about" class="link" style="color:white">Über uns</a>
      </li>
      <li>
        <a routerLink="/someTitle" class="link" style="color:white">einTitel</a>
      </li>
      <li>
        <a routerLink="/tasks" class="link" style="color:white">Aufgaben</a>
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>
